<div class="container">
		<div class="well">Cadastro com angular</div>
		<table ng-if="ocorrencias.length > 0" class="table">
			<thead>
				<th>CEP</th>
				<th>Bairro</th>
				<th>Numero de ocorrencias</th>
			</thead>
			<tbody>
				<tr ng-repeat="ocorrencia in ocorrencias">
					<td>{{ocorrencia.cep}}</td>
					<td>{{ocorrencia.bairro | upper}}</td>
					<td>{{ocorrencia.numeros}}</td>
				</tr>
			</tbody>
		</table>
		<form name="form">
			<div class="form-group">
				<label for="cep">CEP</label>
				<input type="text" ng-blur ng-model="ocorrencia.cep" ng-cep-validator required  name="cep" class="form-control">
			</div>
			<div class="form-group">
				<label for="bairro">Bairro</label>
				<input type="text" ng-blur ng-model="ocorrencia.bairro" required ng-minlength="4" name="bairro" class="form-control">
			</div>
			<div class="form-group">
				<label for="numero-ocorrencias">Numero de ocorrencias</label>
				<input type="text" ng-blur ng-model="ocorrencia.numeros" required name="numero-ocorrencias" class="form-control">
			</div>
				<ng-zumbi-submit submit="adiciona(ocorrencia)"></ng-zumbi-submit>
			
		</form>

	</div>